body {
    text-align: center;
}

.player {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: red;
    position: absolute;
}
